@charset "UTF-8";
/* Foaie de still CSS - continut.css */

@font-face {
    font-family: 'QlassikBoldRegular';
    src: url('qlassikbold_tb-webfont.eot');
    src: url('qlassikbold_tb-webfont.eot?iefix') format('eot'),
         url('qlassikbold_tb-webfont.woff') format('woff'),
         url('qlassikbold_tb-webfont.ttf') format('truetype'),
         url('qlassikbold_tb-webfont.svg#webfontHQOIymR5') format('svg');
    font-weight: normal;
    font-style: normal;

}
	
body {
	background-image: url(../imagini/background-site.jpg);
	margin: 0px;
	padding: 0px;
	background-repeat:repeat-y;
	}
	
#wrapper_principal {
	width: 960px;
	margin: 0 auto;
	background-position:-13px 233px;
	min-height: 500px;
	}
	
img {
	border: none;
}
	
p {
	font-family:QlassikBoldRegular;
	font-size:16px;
	color: #525252;
	line-height: 18px;
	font-weight: normal;
	}
	
a {
	font-family:QlassikBoldRegular;
	font-size:16px;
	color: #c72e03;
	line-height: 18px;
	}
	
h1 {
	font-family:QlassikBoldRegular;
	font-size:48px;
	color: #3a3a3a;
	margin: 0;
	padding: 0;
	font-weight: normal;
	}
	
h2 {
	font-family:'Palatino Linotype', 'Book Antiqua', Palatino, sans-serif;
	font-size:32px;
	color: #c72e03;
	margin: 0;
	padding: 0;
	font-weight: normal;
	}
	
h3 {
	font-family:QlassikBoldRegular;
	font-size:24px;
	color: #2c2c2c;
	margin: 0;
	padding: 0;
	font-weight: normal;
	}
	
	
h4 {
	font-family:QlassikBoldRegular;
	font-size:18px;
	color: #ffffff;
	margin: 0;
	padding: 0;
	font-weight: normal;
	}
	
blockquote {
	background-image: url("../imagini/quotes.png");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    margin: 0;
    padding: 0 0 0 33px;
    text-align: left;
    width: 430px;
	font-family:QlassikBoldRegular;
	font-size:16px;
	color: #525252;
	font-style:oblique;
}

pre {
	clear: left;
    color: #888888;
    float: left;
    font-family: QlassikBoldRegular;
    font-size: 13px;
    text-align: right;
    width: 430px;
	}
	
div.hr hr { display: none;}	
div.hr { 
	height: 30px; 
	background: url(../imagini/hr.png) no-repeat scroll center;
	clear: both;
	margin: 30px 0 20px 0;
	}
	
.titlu_portocaliu {
	font-family:QlassikBoldRegular;
	font-size:36px;
	color: #c72e03;
	font-weight: normal;
}

.titlu_gri {
	font-family:QlassikBoldRegular;
	font-size:36px;
	color: #3a3a3a;
	font-weight: normal;
}
	
	
.intro_text {
	font-family:QlassikBoldRegular;
	font-size:16px;
	color: #525252;
	line-height: 18px;
	margin-top: 25px;
	font-weight: normal;
	}
	
#logo_sus {
	float: left;
	width: 200px;
	height: 50px;
	margin-top: 15px;
}

#telefon_dr {
	float: right;
	width: 400px;
	font-family:QlassikBoldRegular;
	font-size:17px;
	color: #000;
	text-align: right;
	font-weight: normal;
	margin-top: 25px;
}

.container_stg {
	width: 410px;
	float: left;
	margin-top: 50px;
	text-align:left;
	clear: left;
	}
	
.beneficii {
	width: 410px;
	float: left;
	margin-top: 35px;
	text-align:left;
	}
	
.beneficii_secundare {
	float: left;
	width: 410px;
	text-align: left;
	margin-top: 23px;
}

.beneficii_secundare_right {
	float: left;
	width: 460px;
	text-align: left;
	margin-top: 23px;
}

.beneficii_prim {
	float: left;
	width: 410px;
	text-align: left;
	margin-top: 40px;
}

.beneficii_secundare img, .beneficii_prim img, .beneficii_secundare_right img {
	float: left;
	margin-right: 20px;
}

.beneficii_secundare p, .beneficii_prim p, .beneficii_secundare_right p {
	font-family:QlassikBoldRegular;
	font-size:14px;
	color: #525252;
	line-height: 16px;
}
	
.download_button {
	float: left;
	margin: 25px 0 0 0;
}

.download_button a {
	font-family:QlassikBoldRegular;
	font-size:14px;
	color: #c72e03;
	line-height: 25px;
	text-decoration:underline;
	}
	
.download_button a:hover {
	color: #525252;
	text-decoration:underline;
	}
	
.container_dreapta {
	width: 517px;
	float: right;
	background-image:url(../imagini/right_sidebar.png);
	background-repeat:no-repeat;
	height: 622px;
	margin-top: 50px;
	}
	
#video_top {
	width: 482px;
	margin: 17.5px 0 0 17.5px;
}

.continut_dreapta {
	width: 482px;
	margin: 27px 0 0 26.5px;
}

.continut_dreapta2 {
	width: 482px;
	margin: 26px 0 0 26.5px;
	float: right;
}

.continut_dreapta .titlu_portocaliu, .galerie_primapag  .titlu_portocaliu {
	font-family:QlassikBoldRegular;
	font-size:28px;
	color: #c72e03;
	font-weight: normal;
}

.continut_dreapta .titlu_gri, .galerie_primapag  .titlu_gri {
	font-family:QlassikBoldRegular;
	font-size:28px;
	color: #3a3a3a;
	font-weight: normal;
}

.continut_dreapta .download_button img {
	float: left;
	margin: 0 20px 0 0px;
}


#footer_continut {
	clear: both;
background-image: url(../imagini/footer_bground.jpg);
background-repeat: repeat-x;
	}
	
#footer_container {
	margin: 0 auto;
	width: 960px;
	}
	
#footer_left {
	float: left;
	width: 400px;
	margin-top: 44px;
	}
	
#footer_middle {
	float: left;
	width: 170px;
	margin-top: 44px;
	color: #8f8d8b;
	font-size: 12px;
	font-family:QlassikBoldRegular;
	text-align:center;
	}
	
#footer_right {
	float: right;
	width: 300px;
	text-align:right;
	margin-top: 44px;
	}
	
#footer_right ul.social li {
	display: inline;
	margin: 0 0 0 7px;
	padding:2px 0 0 0;
	}
	
.social {
	padding:0;
	}
	
.social img, img.a {
	padding:2px 0 0 0;
	}
	
.social a:hover {
	filter: gray;
	}
	
.galerie_primapag {
	margin: 0 auto;
	width: 960px;
	padding-bottom:50px;
	padding-top: 50px;
	clear: both;
	}
	
.galerie_primapag ul.gallery li {
	display: inline;
	margin: 0 17px 0 0;
	}
	
#gallery {
	padding:20px 0 20px 0;
	}
	
#gallery img, img.a {
	padding:2px 0 0 0;
	}
	
ul {
	margin:20px 0 0 0;
	padding: 0;
	list-style:none;
	list-style-position: inside;
	line-height: 1.8em;
	list-style-type:disc;
	}
	
li {
	padding: 0 0 0 0;
	margin:0;
	font-family:QlassikBoldRegular;
	font-size:12px;
	}
	

	
	

